In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [6]:
df = pd.read_csv("C:/Users/91970/OneDrive/Documents/spam1.csv")

In [7]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [8]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
df.drop("Unnamed: 2",axis=1,inplace=True)

In [10]:
df.drop("Unnamed: 3",axis=1,inplace=True)

In [11]:
df.drop("Unnamed: 4",axis=1,inplace=True)

In [12]:
df.columns

Index(['v1', 'v2'], dtype='object')

In [13]:
df.columns = ["Category","Message"]

In [14]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will �_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [15]:
df["Category"].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [16]:
df.isna().sum()

Category    0
Message     0
dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
label=LabelEncoder()

In [19]:
label.fit(df["Category"])

LabelEncoder()

In [20]:
ary = label.transform(df["Category"])

In [21]:
df["Categories"] = ary

In [22]:
df

     Category                                            Message  Categories
0         ham  Go until jurong point, crazy.. Available only ...           0
1         ham                      Ok lar... Joking wif u oni...           0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...           1
3         ham  U dun say so early hor... U c already then say...           0
4         ham  Nah I don't think he goes to usf, he lives aro...           0
...       ...                                                ...         ...
5567     spam  This is the 2nd time we have tried 2 contact u...           1
5568      ham              Will �_ b going to esplanade fr home?           0
5569      ham  Pity, * was in mood for that. So...any other s...           0
5570      ham  The guy did some bitching but I acted like i'd...           0
5571      ham                         Rofl. Its true to its name           0

[5572 rows x 3 columns]

In [23]:
df.drop("Category",axis=1,inplace=True)

In [24]:
df

                                                Message  Categories
0     Go until jurong point, crazy.. Available only ...           0
1                         Ok lar... Joking wif u oni...           0
2     Free entry in 2 a wkly comp to win FA Cup fina...           1
3     U dun say so early hor... U c already then say...           0
4     Nah I don't think he goes to usf, he lives aro...           0
...                                                 ...         ...
5567  This is the 2nd time we have tried 2 contact u...           1
5568              Will �_ b going to esplanade fr home?           0
5569  Pity, * was in mood for that. So...any other s...           0
5570  The guy did some bitching but I acted like i'd...           0
5571                         Rofl. Its true to its name           0

[5572 rows x 2 columns]

In [24]:
X = df[["Message"]]

In [25]:
X

                                                Message
0     Go until jurong point, crazy.. Available only ...
1                         Ok lar... Joking wif u oni...
2     Free entry in 2 a wkly comp to win FA Cup fina...
3     U dun say so early hor... U c already then say...
4     Nah I don't think he goes to usf, he lives aro...
...                                                 ...
5567  This is the 2nd time we have tried 2 contact u...
5568              Will �_ b going to esplanade fr home?
5569  Pity, * was in mood for that. So...any other s...
5570  The guy did some bitching but I acted like i'd...
5571                         Rofl. Its true to its name

[5572 rows x 1 columns]

In [26]:
y = df["Categories"]

In [27]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Categories, Length: 5572, dtype: int32

In [28]:
y.value_counts()

0    4825
1     747
Name: Categories, dtype: int64

In [29]:
from imblearn.over_sampling import RandomOverSampler

In [30]:
ros = RandomOverSampler()

In [31]:
X_ros,y_ros = ros.fit_resample(X,y)

In [32]:
X_ros.shape

(9650, 1)

In [33]:
y_ros.shape

(9650,)

In [34]:
y_ros.value_counts()

0    4825
1    4825
Name: Categories, dtype: int64

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train,X_test,y_train,y_test = train_test_split(X_ros,y_ros,test_size=0.20,random_state=2)

In [37]:
X_train.shape,X_test.shape,X_ros.shape

((7720, 1), (1930, 1), (9650, 1))

In [38]:
y_train.shape,y_test.shape,y_ros.shape

((7720,), (1930,), (9650,))

In [39]:
X_ros

                                                Message
0     Go until jurong point, crazy.. Available only ...
1                         Ok lar... Joking wif u oni...
2     Free entry in 2 a wkly comp to win FA Cup fina...
3     U dun say so early hor... U c already then say...
4     Nah I don't think he goes to usf, he lives aro...
...                                                 ...
9645  Thanks for your ringtone order, ref number R83...
9646  Ur TONEXS subscription has been renewed and yo...
9647  U are subscribed to the best Mobile Content Se...
9648  You are a �1000 winner or Guaranteed Caller Pr...
9649  Wan2 win a Meet+Greet with Westlife 4 U or a m...

[9650 rows x 1 columns]

In [40]:
X_train["Message"]

9598    Fantasy Football is back on your TV. Go to Sky...
6115    Someone U know has asked our dating service 2 ...
1482                                                Ok...
6732    Auction round 4. The highest bid is now �54. N...
7878    Fantasy Football is back on your TV. Go to Sky...
                              ...
1099    Been up to ne thing interesting. Did you have ...
2514        Ok ill send you with in  &lt;DECIMAL&gt;  ok.
6637    Hi if ur lookin 4 saucy daytime fun wiv busty ...
2575                 Now thats going to ruin your thesis!
7336    URGENT, IMPORTANT INFORMATION FOR O2 USER. TOD...
Name: Message, Length: 7720, dtype: object

In [41]:
X_train["Message"].values

array(['Fantasy Football is back on your TV. Go to Sky Gamestar on Sky Active and play �250k Dream Team. Scoring starts on Saturday, so register now!SKY OPT OUT to 88088',
       'Someone U know has asked our dating service 2 contact you! Cant Guess who? CALL 09058097189 NOW all will be revealed. POBox 6, LS15HB 150p ',
       'Ok...', ...,
       'Hi if ur lookin 4 saucy daytime fun wiv busty married woman Am free all next week Chat now 2 sort time 09099726429 JANINExx Calls�1/minMobsmoreLKPOBOX177HP51FL',
       'Now thats going to ruin your thesis!',
       'URGENT, IMPORTANT INFORMATION FOR O2 USER. TODAY IS YOUR LUCKY DAY! 2 FIND OUT WHY LOG ONTO HTTP://WWW.URAWINNER.COM THERE IS A FANTASTIC SURPRISE AWAITING FOR YOU'],
      dtype=object)

In [42]:
X_train.values

array([['Fantasy Football is back on your TV. Go to Sky Gamestar on Sky Active and play �250k Dream Team. Scoring starts on Saturday, so register now!SKY OPT OUT to 88088'],
       ['Someone U know has asked our dating service 2 contact you! Cant Guess who? CALL 09058097189 NOW all will be revealed. POBox 6, LS15HB 150p '],
       ['Ok...'],
       ...,
       ['Hi if ur lookin 4 saucy daytime fun wiv busty married woman Am free all next week Chat now 2 sort time 09099726429 JANINExx Calls�1/minMobsmoreLKPOBOX177HP51FL'],
       ['Now thats going to ruin your thesis!'],
       ['URGENT, IMPORTANT INFORMATION FOR O2 USER. TODAY IS YOUR LUCKY DAY! 2 FIND OUT WHY LOG ONTO HTTP://WWW.URAWINNER.COM THERE IS A FANTASTIC SURPRISE AWAITING FOR YOU']],
      dtype=object)

In [43]:
X_train["Message"].values

array(['Fantasy Football is back on your TV. Go to Sky Gamestar on Sky Active and play �250k Dream Team. Scoring starts on Saturday, so register now!SKY OPT OUT to 88088',
       'Someone U know has asked our dating service 2 contact you! Cant Guess who? CALL 09058097189 NOW all will be revealed. POBox 6, LS15HB 150p ',
       'Ok...', ...,
       'Hi if ur lookin 4 saucy daytime fun wiv busty married woman Am free all next week Chat now 2 sort time 09099726429 JANINExx Calls�1/minMobsmoreLKPOBOX177HP51FL',
       'Now thats going to ruin your thesis!',
       'URGENT, IMPORTANT INFORMATION FOR O2 USER. TODAY IS YOUR LUCKY DAY! 2 FIND OUT WHY LOG ONTO HTTP://WWW.URAWINNER.COM THERE IS A FANTASTIC SURPRISE AWAITING FOR YOU'],
      dtype=object)

In [44]:
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
cvec=CountVectorizer()

In [47]:
cvec.fit(X_train["Message"].values)

CountVectorizer()

In [48]:
cvec_Xtrain = cvec.transform(X_train["Message"].values)

In [49]:
cvec_Xtest = cvec.transform(X_test["Message"].values)

In [50]:
cvec_Xtrain

<7720x7940 sparse matrix of type '<class 'numpy.int64'>'
	with 130142 stored elements in Compressed Sparse Row format>

In [51]:
cvec_Xtest

<1930x7940 sparse matrix of type '<class 'numpy.int64'>'
	with 31845 stored elements in Compressed Sparse Row format>

In [52]:
cvec_Xtrain.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [53]:
cvec_Xtrain.toarray().shape

(7720, 7940)

In [54]:
cvec_Xtest.toarray().shape

(1930, 7940)

In [55]:
cvec.vocabulary_

{'fantasy': 2915,
 'football': 3074,
 'is': 3890,
 'back': 1291,
 'on': 5103,
 'your': 7907,
 'tv': 7265,
 'go': 3291,
 'to': 7113,
 'sky': 6381,
 'gamestar': 3202,
 'active': 894,
 'and': 1055,
 'play': 5413,
 '250k': 421,
 'dream': 2574,
 'team': 6918,
 'scoring': 6114,
 'starts': 6626,
 'saturday': 6088,
 'so': 6453,
 'register': 5846,
 'now': 5008,
 'opt': 5138,
 'out': 5179,
 '88088': 785,
 'someone': 6469,
 'know': 4105,
 'has': 3485,
 'asked': 1192,
 'our': 5176,
 'dating': 2301,
 'service': 6199,
 'contact': 2097,
 'you': 7903,
 'cant': 1751,
 'guess': 3410,
 'who': 7686,
 'call': 1714,
 '09058097189': 213,
 'all': 1006,
 'will': 7707,
 'be': 1372,
 'revealed': 5944,
 'pobox': 5440,
 'ls15hb': 4396,
 '150p': 349,
 'ok': 5084,
 'auction': 1232,
 'round': 6001,
 'the': 6994,
 'highest': 3569,
 'bid': 1444,
 '54': 621,
 'next': 4930,
 'maximum': 4550,
 '71': 685,
 'send': 6178,
 'bids': 1445,
 '10': 297,
 '83383': 749,
 'good': 3317,
 'luck': 4404,
 'important': 3773,
 'information': 3814,
 'orange': 5148,
 'user': 7402,
 '0796xxxxxx': 49,
 'today': 7120,
 'ur': 7382,
 'lucky': 4406,
 'day': 2304,
 'find': 2996,
 'why': 7692,
 'log': 4330,
 'onto': 5116,
 'http': 3676,
 'www': 7835,
 'urawinner': 7383,
 'com': 2018,
 'there': 7009,
 'fantastic': 2914,
 'prizeawaiting': 5599,
 '0789xxxxxxx': 47,
 '2find': 441,
 'surprise': 6813,
 'awaiting': 1264,
 'urgh': 7388,
 'coach': 1988,
 'hot': 3649,
 'smells': 6421,
 'of': 5059,
 'chip': 1911,
 'fat': 2924,
 'thanks': 6983,
 'again': 949,
 'especially': 2783,
 'for': 3078,
 'duvet': 2628,
 'not': 4994,
 'predictive': 5548,
 'text': 6965,
 'word': 7781,
 'as': 1180,
 'valued': 7428,
 'customer': 2249,
 'am': 1029,
 'pleased': 5423,
 'advise': 927,
 'that': 6990,
 'following': 3064,
 'recent': 5804,
 'review': 5947,
 'mob': 4702,
 'no': 4959,
 'are': 1142,
 'awarded': 1267,
 'with': 7736,
 '1500': 348,
 'bonus': 1524,
 'prize': 5598,
 '09066364589': 267,
 'free': 3120,
 '1st': 384,
 'week': 7627,
 'no1': 4960,
 'nokia': 4968,
 'tone': 7140,
 'mobile': 4704,
 'every': 2806,
 'just': 4018,
 'txt': 7274,
 '8077': 727,
 'get': 3246,
 'txting': 7280,
 'tell': 6933,
 'mates': 4534,
 'getzed': 3255,
 'co': 1987,
 'uk': 7301,
 '36504': 505,
 'w45wq': 7530,
 '16': 361,
 'norm150p': 4986,
 'do': 2505,
 'have': 3498,
 'nice': 4934,
 'love': 4377,
 'dearly': 2320,
 'entry': 2756,
 'in': 3782,
 'wkly': 7750,
 'comp': 2036,
 'win': 7709,
 'fa': 2876,
 'cup': 2236,
 'final': 2991,
 'tkts': 7101,
 '21st': 409,
 'may': 4551,
 '2005': 400,
 '87121': 776,
 'receive': 5800,
 'question': 5700,
 'std': 6638,
 'rate': 5749,
 'apply': 1120,
 '08452810075over18': 77,
 'hello': 3535,
 'my': 4831,
 'boytoy': 1579,
 'made': 4456,
 'it': 3901,
 'home': 3616,
 'constant': 2095,
 'thought': 7043,
 'hope': 3632,
 'having': 3502,
 'visit': 7493,
 'but': 1683,
 'can': 1739,
 'wait': 7543,
 'till': 7078,
 'come': 2024,
 'me': 4560,
 'kiss': 4091,
 'been': 1392,
 'specially': 6536,
 'selected': 6165,
 '3000': 480,
 'award': 1266,
 '08712402050': 117,
 'before': 1397,
 'lines': 4282,
 'close': 1964,
 'cost': 2139,
 '10ppm': 310,
 'cs': 2212,
 'ag': 948,
 'promo': 5627,
 'oh': 5079,
 'fuck': 3160,
 'juswoke': 4021,
 'up': 7364,
 'bed': 1387,
 'boatin': 1513,
 'docks': 2509,
 'slept': 6394,
 'wid': 7696,
 '25': 419,
 'year': 7876,
 'old': 5095,
 'spinout': 6556,
 'giv': 3274,
 'da': 2266,
 'gossip': 3334,
 'l8r': 4130,
 'xxx': 7852,
 'aiyo': 981,
 'poor': 5483,
 'thing': 7021,
 'then': 7005,
 'dun': 2620,
 'wan': 7562,
 'eat': 2651,
 'bathe': 1347,
 'already': 1018,
 'yes': 7886,
 'he': 3506,
 'crickiting': 2197,
 'mind': 4642,
 'had': 3435,
 'mths': 4793,
 'update': 7369,
 'latest': 4181,
 'camera': 1735,
 'video': 7468,
 'phones': 5361,
 'keep': 4050,
 'same': 6066,
 'number': 5022,
 'extra': 2869,
 'mins': 4654,
 'texts': 6976,
 'annoncement': 1067,
 'new': 4922,
 'years': 7877,
 'delivery': 2362,
 'waiting': 7546,
 'please': 5422,
 '07046744435': 24,
 'arrange': 1166,
 'half': 3446,
 'price': 5582,
 'line': 4278,
 'rental': 5884,
 '12': 321,
 '500': 601,
 'cross': 2201,
 'ntwk': 5018,
 '100': 298,
 'txts': 7282,
 'mobileupd8': 4708,
 '08001950382': 59,
 'or': 5144,
 'call2optout': 1716,
 '674': 656,
 'taking': 6875,
 'italian': 3902,
 'food': 3070,
 'how': 3662,
 'about': 849,
 'pretty': 5576,
 'dress': 2577,
 'panties': 5236,
 'give': 3275,
 'one': 5107,
 'miss': 4668,
 'from': 3154,
 'top': 7158,
 'ringtone': 5967,
 'sub': 6729,
 'weekly': 7631,
 'subpoly': 6734,
 '81618': 732,
 'per': 5313,
 'stop': 6669,
 'sms': 6436,
 '08718727870': 167,
 'when': 7670,
 'chance': 1835,
 'plz': 5435,
 'lt': 4399,
 'missed': 4670,
 'alert': 993,
 'these': 7011,
 'numbers': 5023,
 'called': 1721,
 'left': 4221,
 'message': 4612,
 '07008009200': 23,
 'great': 3372,
 'semester': 6175,
 'wish': 7729,
 'very': 7457,
 'best': 1427,
 'greatness': 3375,
 'realize': 5780,
 '40': 533,
 'we': 7604,
 'll': 4315,
 'thousands': 7045,
 'ladies': 4143,
 'running': 6029,
 'around': 1163,
 'tattoos': 6898,
 'rofl': 5986,
 'its': 3908,
 'true': 7231,
 'name': 4850,
 'what': 7664,
 'sunday': 6783,
 'holiday': 3611,
 'work': 7783,
 'any': 1088,
 'problem': 5605,
 'frm': 3147,
 'him': 3574,
 'wats': 7595,
 'matter': 4541,
 'were': 7650,
 'outbid': 5182,
 'by': 1698,
 'simonwatson5120': 6337,
 'shinco': 6260,
 'dvd': 2629,
 'plyr': 5434,
 'ac': 860,
 'smsrewards': 6439,
 'end': 2723,
 'notifications': 5000,
 'reply': 5897,
 'todays': 7121,
 'voda': 7501,
 'ending': 2725,
 '1225': 324,
 '50award': 604,
 'if': 3740,
 'match': 4530,
 '08712300220': 111,
 'quoting': 5714,
 'claim': 1936,
 'code': 1996,
 '3100': 492,
 'standard': 6614,
 'rates': 5750,
 'app': 1112,
 'her': 3551,
 'sir': 6355,
 'currently': 2242,
 'collection': 2011,
 'collect': 2008,
 '08718723815': 158,
 'hey': 3560,
 'babe': 1286,
 'going': 3304,
 'did': 2429,
 'ever': 2805,
 'figure': 2977,
 'where': 7674,
 'double': 2552,
 '1000': 299,
 'tariffs': 6891,
 'motorola': 4764,
 'sonyericsson': 6487,
 'bluetooth': 1507,
 '08000839402': 56,
 'hf8': 3561,
 'won': 7767,
 '7250i': 687,
 'this': 7032,
 'take': 6870,
 'part': 5260,
 '86021': 767,
 'hg': 3562,
 'suite342': 6771,
 '2lands': 448,
 'row': 6005,
 'w1jhl': 7527,
 'sorry': 6498,
 'later': 4180,
 'wana': 7564,
 'plan': 5404,
 'trip': 7221,
 'sometme': 6476,
 'valentines': 7423,
 'special': 6532,
 'over': 5193,
 'quiz': 5710,
 'partner': 5264,
 'lifetime': 4256,
 '83600': 751,
 'msg': 4783,
 'rcvd': 5761,
 'custcare': 2247,
 '08718720201': 157,
 '123': 325,
 'congratulations': 2083,
 'competition': 2043,
 'draw': 2571,
 '1450': 342,
 '09050002311': 193,
 'b4280703': 1279,
 '08718727868': 166,
 '18': 366,
 'only': 5113,
 '150ppm': 353,
 'tonexs': 7144,
 'subscription': 6742,
 'renewed': 5881,
 'charged': 1848,
 '50': 600,
 'choose': 1918,
 'more': 4748,
 'polys': 5476,
 'month': 4741,
 'clubzed': 1978,
 'billing': 1452,
 'haha': 3437,
 'they': 7016,
 'at': 1213,
 'most': 4756,
 'tmr': 7107,
 'forfeit': 3085,
 'chk': 1913,
 'belovd': 1416,
 'ms': 4782,
 'dict': 2427,
 'lost': 4364,
 'pounds': 5516,
 'since': 6343,
 'doc': 2508,
 'last': 4175,
 'woot': 7777,
 'gonna': 3315,
 'celebrate': 1814,
 'stuffing': 6722,
 'face': 2879,
 'urgent': 7386,
 '09066350750': 258,
 'landline': 4155,
 'complimentary': 2054,
 'ibiza': 3720,
 '000': 1,
 'cash': 1785,
 'await': 1263,
 'sae': 6045,
 'po': 5438,
 'box': 1557,
 '434': 551,
 'sk3': 6370,
 '8wp': 807,
 '150': 347,
 'ppm': 5524,
 'six': 6367,
 'chances': 1836,
 '20': 395,
 'csh11': 2215,
 '87575': 781,
 '6days': 672,
 'tsandcs': 7242,
 'hl': 3590,
 'info': 3812,
 'trying': 7240,
 'shows': 6308,
 '800': 714,
 'guaranteed': 3404,
 '09050003091': 194,
 'land': 4153,
 'c52': 1701,
 'valid': 7424,
 '12hrs': 331,
 '09050001808': 192,
 'm95': 4437,
 'valid12hrs': 7425,
 'evening': 2800,
 'wan2': 7563,
 'meet': 4578,
 'greet': 3378,
 'westlife': 7657,
 'm8': 4435,
 'tour': 7178,
 'unbreakable': 7315,
 'untamed': 7361,
 'unkempt': 7346,
 '83049': 741,
 '50p': 607,
 'think': 7023,
 've': 7443,
 'fixed': 3022,
 'test': 6959,
 'nooooooo': 4979,
 'bored': 1538,
 'death': 2321,
 'cable': 1704,
 'internet': 3853,
 'outage': 5180,
 'stuff': 6719,
 '4mths': 587,
 'phone': 5357,
 '11mths': 319,
 'mobilesdirect': 4706,
 '08000938767': 58,
 'or2stoptxt': 5146,
 'remember': 5868,
 'those': 7039,
 'whom': 7688,
 'hurt': 3704,
 'during': 2625,
 'days': 2305,
 'satanic': 6084,
 'imposter': 3777,
 'need': 4894,
 'pay': 5285,
 'destiny': 2399,
 'said': 6052,
 'pray': 5540,
 'sunshine': 6789,
 'super': 6792,
 'sony': 6486,
 'recorder': 5816,
 'canname': 1749,
 'capital': 1755,
 'australia': 1244,
 'mquiz': 4777,
 '82277': 736,
 'havent': 3500,
 'lei': 4227,
 'mon': 4729,
 'got': 3335,
 'shitload': 6272,
 'diamonds': 2423,
 'though': 7042,
 'bahamas': 1299,
 'callfreefone': 1725,
 '08081560665': 67,
 'speak': 6530,
 'live': 4307,
 'operator': 5130,
 'either': 2690,
 'cruise': 2208,
 '2000': 397,
 '07786200117': 36,
 'tessy': 6958,
 'pls': 5430,
 'favor': 2933,
 'convey': 2113,
 'birthday': 1465,
 'wishes': 7730,
 'nimya': 4949,
 'dnt': 2504,
 'forget': 3086,
 'shijas': 6258,
 'happy': 3476,
 'woo': 7774,
 'hoo': 3625,
 'party': 5267,
 'dude': 2613,
 'balance': 1305,
 '600': 638,
 'complete': 2049,
 'landmark': 4158,
 'big': 1446,
 'bob': 1514,
 'barry': 1334,
 'ben': 1419,
 '83738': 752,
 'whats': 7666,
 'staff': 6606,
 'class': 1945,
 'us': 7395,
 'vodafone': 7502,
 'computer': 2060,
 'picked': 5373,
 'easy': 2650,
 '09061743386': 228,
 'linerental': 4281,
 'tooth': 7156,
 'or2optout': 5145,
 'hv9d': 3710,
 'boo': 1525,
 'enjoyin': 2741,
 'yourjob': 7910,
 'seemed': 6157,
 'gettin': 3253,
 'well': 7642,
 'hunny': 3698,
 'ure': 7384,
 'care': 1764,
 'llspeak': 4317,
 '2u': 469,
 'soonlots': 6491,
 'loveme': 4381,
 'xxxx': 7854,
 'road': 5977,
 'morning': 4752,
 'yeah': 7875,
 'lemme': 4228,
 'anything': 1095,
 'goin': 3302,
 'time': 7080,
 'coming': 2029,
 'down': 2559,
 'content': 2100,
 'order': 5152,
 'resent': 5909,
 'previous': 5579,
 'attempt': 1223,
 'failed': 2889,
 'due': 2615,
 'network': 4914,
 'error': 2773,
 'queries': 5698,
 'customersqueries': 2252,
 'netvision': 4913,
 'receiving': 5803,
 'triple': 7222,
 'echo': 2657,
 'shortly': 6291,
 'enjoy': 2739,
 'friend': 3140,
 'xmas': 7846,
 '08718726971': 163,
 '10p': 309,
 'minute': 4657,
 'bt': 1647,
 'national': 4868,
 'fantasies': 2913,
 '08707509020': 99,
 '20p': 406,
 'min': 4639,
 'ntt': 5017,
 'ltd': 4400,
 '1327': 335,
 'croydon': 2204,
 'cr9': 2171,
 '5wb': 633,
 '0870': 78,
 'membership': 4595,
 'jackpot': 3922,
 '81010': 729,
 'dbuk': 2309,
 'net': 4909,
 'lccltd': 4197,
 '4403ldnw1a7rw18': 554,
 're': 5764,
 'finn': 3007,
 'want': 7566,
 'handset': 3458,
 '750': 692,
 'anytime': 1097,
 '08000930705': 57,
 'tomorrow': 7139,
 'haf': 3436,
 'lunch': 4411,
 'canteen': 1753,
 'dont': 2540,
 'baby': 1289,
 'im': 3757,
 'nasty': 4862,
 'filthyguys': 2990,
 'fancy': 2911,
 'rude': 6019,
 'sexy': 6216,
 'bitch': 1468,
 'slo': 6402,
 'hard': 3477,
 '4msgs': 586,
 'much': 4799,
 'fights': 2976,
 'was': 7580,
 'nite': 4954,
 'wat': 7586,
 'yep': 7884,
 'like': 4263,
 'pink': 5391,
 'furniture': 3182,
 'tho': 7038,
 'lesson': 4235,
 'early': 2639,
 'still': 6658,
 'sleepin': 6388,
 'okie': 5088,
 'liao': 4244,
 'den': 2367,
 'confirm': 2075,
 'lor': 4358,
 'times': 7081,
 'job': 3971,
 'umma': 7308,
 'ask': 1190,
 'them': 7002,
 'speed': 6541,
 'free2day': 3121,
 'st': 6603,
 'george': 3243,
 'pic': 5371,
 'jordan': 3991,
 '89080': 794,
 'wk': 7746,
 'saucy': 6089,
 'celeb': 1813,
 'pics': 5376,
 'pocketbabe': 5455,
 '0870241182716': 90,
 'guy': 3423,
 'flash': 3027,
 'madam': 4455,
 'torch': 7164,
 '9ja': 824,
 '4882': 571,
 '350': 501,
 'matches': 4532,
 '09064019014': 248,
 'lions': 4291,
 'england': 2737,
 'lionm': 4289,
 'mono': 4737,
 'lionp': 4290,
 'poly': 5470,
 'ringtones': 5969,
 'original': 5161,
 'tones': 7141,
 '3gbp': 517,
 'wet': 7660,
 'right': 5960,
 'grandmas': 3360,
 'dear': 2317,
 'ill': 3754,
 'felt': 2954,
 'shit': 6269,
 'hungover': 3695,
 'another': 1074,
 'night': 4942,
 'leave': 4215,
 'sat': 6083,
 'watching': 7590,
 'here': 3552,
 'dinner': 2458,
 'tonight': 7146,
 'pizza': 5397,
 'happen': 3466,
 'behave': 1404,
 'say': 6094,
 'yar': 7867,
 'tot': 7170,
 'knew': 4101,
 'dis': 2470,
 'would': 7803,
 'long': 4344,
 'ago': 959,
 '08715205273': 144,
 'she': 6246,
 'ran': 5740,
 'off': 5060,
 'younger': 7906,
 'man': 4489,
 'make': 4479,
 'babies': 1288,
 'together': 7124,
 'thanx': 6988,
 'monday': 4730,
 '0776xxxxxxx': 34,
 'invited': 3868,
 'xchat': 7843,
 'chat': 1859,
 '86688': 770,
 'msgrcvdhg': 4788,
 'w1j6hl': 7526,
 'ldn': 4200,
 '18yrs': 370,
 '07801543489': 39,
 'latests': 4182,
 '40gb': 541,
 'ipod': 3880,
 'mp3': 4776,
 'player': 5415,
 '83355': 747,
 'tc': 6908,
 'llc': 4316,
 'ny': 5036,
 'usa': 7396,
 'mt': 4790,
 'msgrcvd18': 4787,
 'nothing': 4998,
 'tht': 7060,
 'unknown': 7347,
 'thesmszone': 7014,
 'lets': 4238,
 'anonymous': 1072,
 'masked': 4524,
 'messages': 4614,
 'sending': 6180,
 'see': 6152,
 'potential': 5511,
 'abuse': 858,
 '6months': 677,
 'available': 1251,
 'n9dx': 4839,
 'yr': 7917,
 'representative': 5902,
 'training': 7191,
 'which': 7680,
 'country': 2154,
 'liverpool': 4310,
 'played': 5414,
 'mid': 4626,
 'ansr': 1076,
 'sp': 6518,
 'tyrone': 7291,
 'tirunelvali': 7090,
 'uncle': 7317,
 'spend': 6547,
 'amount': 1042,
 'money': 4732,
 'feb': 2941,
 'somebody': 6467,
 'secretly': 6146,
 'fancies': 2910,
 'wanna': 7565,
 '09065394514': 254,
 'datebox1282essexcm61xn': 2299,
 'hopefully': 3635,
 'tyler': 7287,
 'could': 2148,
 'maybe': 4553,
 'bit': 1467,
 'lot': 4365,
 'things': 7022,
 'happening': 3470,
 'lindsay': 4277,
 'sighs': 6325,
 'some': 6465,
 'bars': 1335,
 'ptbo': 5656,
 'blue': 1506,
 'heron': 3555,
 'something': 6473,
 'gt': 3401,
 'bus': 1676,
 'wont': 7773,
 'wit': 7735,
 'guys': 3424,
 'ya': 7861,
 'referin': 5831,
 'mei': 4586,
 'ex': 2827,
 'ah': 961,
 'waitin': 7545,
 'treat': 7211,
 'shld': 6274,
 'rich': 5956,
 'gd': 3225,
 'onwards': 5118,
 'private': 5595,
 '2003': 398,
 'account': 876,
 'statement': 6629,
 '07808247860': 41,
 'un': 7312,
 'redeemed': 5825,
 'points': 5462,
 '08719899229': 181,
 'identifier': 3734,
 '40411': 539,
 'expires': 2857,
 '06': 21,
 '11': 312,
 '04': 16,
 'really': 5783,
 'horny': 3640,
 'naked': 4848,
 '69698': 663,
 '150pm': 351,
 'unsubscribe': 7359,
 'spent': 6549,
 'phasing': 5349,
 'fourth': 3108,
 'dimension': 2451,
 'bird': 1460,
 'purchases': 5673,
 'yet': 7889,
 'meeting': 4580,
 'okay': 5085,
 'legal': 4223,
 'wen': 7645,
 'pick': 5372,
 'ave': 1255,
 'ams': 1047,
 'xx': 7849,
 '08707500020': 98,
 'eng': 2732,
 'rocking': 5982,
 'ashes': 1184,
 'place': 5399,
 'town': 7180,
 'exciting': 2836,
 'adult': 922,
 'singles': 6350,
 'weeks': 7632,
 'savamob': 6090,
 'member': 4593,
 'offers': 5067,
 'accessible': 866,
 '08709501522': 105,
 'details': 2402,
 '139': 336,
 'la3': 4135,
 '2wu': 474,
 'sary': 6081,
 'tim': 7079,
 'bollox': 1519,
 'tol': 7129,
 'disturb': 2490,
 'talk': 6877,
 'ne': 4882,
 'plans': 5410,
 'nxt': 5035,
 'wknd': 7751,
 'coz': 2167,
 'wants': 7570,
 'yesterday': 7888,
 'wonderful': 7770,
 'enjoyed': 2740,
 'burial': 1670,
 'mojibiola': 4722,
 'laugh': 4184,
 'try': 7238,
 'chit': 1912,
 'logon': 4335,
 '8883': 789,
 'cm': 1980,
 '4217': 547,
 'london': 4341,
 'w1a': 7524,
 '6zf': 683,
 '118p': 318,
 '2nd': 457,
 'tried': 7220,
 'pound': 5514,
 '08712101358': 108,
 'buy': 1687,
 'newspapers': 4929,
 'getting': 3254,
 'touch': 7174,
 'folks': 3060,
 'company': 2039,
 'age': 952,
 'community': 2034,
 'oranges': 5149,
 'colour': 2015,
 'mobiles': 4705,
 'unlimited': 7350,
 'weekend': 7629,
 'calls': 1729,
 'upd8': 7367,
 'freefone': 3124,
 '2stoptx': 467,
 'followed': 3062,
 'gender': 3231,
 'wither': 7738,
 '23f': 414,
 'gay': 3217,
 'men': 4598,
 '23g': 415,
 'tease': 6921,
 'cry': 2211,
 'life': 4253,
 'die': 2433,
 'rose': 5999,
 'grave': 3366,
 'stupid': 6724,
 'bslvyl': 1643,
 'thk': 7033,
 'gave': 3216,
 'freemsg': 3127,
 'flirt': 3037,
 'date': 2298,
 'join': 3978,
 'uks': 7303,
 'fastest': 2923,
 'growing': 3393,
 'msgs': 4789,
 '25p': 423,
 'optout': 5143,
 '83021': 739,
 'response': 5922,
 'offer': 5064,
 'fone': 3068,
 'camcorder': 1733,
 ...}

In [56]:
cvec.get_feature_names_out()

array(['00', '000', '000pes', ..., 'zoom', 'zouk', 'zyada'], dtype=object)

In [57]:
cvec.get_feature_names_out().shape

(7940,)

In [58]:
cvec_Xtrain

<7720x7940 sparse matrix of type '<class 'numpy.int64'>'
	with 130142 stored elements in Compressed Sparse Row format>

In [59]:
cvec_Xtest

<1930x7940 sparse matrix of type '<class 'numpy.int64'>'
	with 31845 stored elements in Compressed Sparse Row format>

In [60]:
from sklearn.feature_extraction.text import TfidfTransformer

In [62]:
trans=TfidfTransformer()

In [63]:
trans.fit(cvec_Xtrain)

TfidfTransformer()

In [64]:
trans_Xtrain = trans.transform(cvec_Xtrain)

In [65]:
trans_Xtest = trans.transform(cvec_Xtest)

In [66]:
trans_Xtrain.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [67]:
trans_Xtest.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [68]:
from sklearn.naive_bayes import MultinomialNB

In [69]:
mnb = MultinomialNB()

In [70]:
mnb

MultinomialNB()

In [71]:
mnb.fit(trans_Xtrain,y_train)

MultinomialNB()

In [72]:
mnb.score(trans_Xtest,y_test)

0.9797927461139896